body{
    background: lightblue;
}
.title{
    font-size:64px;
    font-family:monospace,serif;
    color:orange;
    padding-left:100px;
    font-weight: bold;
    background: coral;
}
.grid-container{
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, min-content);
    justify-content: center;
}

.grid{
    font-size:48px;
    color:steelblue;
    font-family:monospace,serif;
}

.grid::first-letter{
    font-size:64px;
    font-family:monospace,serif;
    color:orange;
    font-weight: bold;
}

.text-container{
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, min-content);
    justify-content: center;
}

.text{
    font-size: 20px;
    font-family: monospace, serif;
    font-style: italic;
    font-weight: bold;
}

.blue{
    color:steelblue;
}

.orange{
    color:orange;
}

.main{
    padding-top: 100px;
    padding-inline: 200px;
}

.Diseases{
    color:orange;
    font-size:16px;
}

#results{
    display: flex;
    grid-template-columns: min-content;
    justify-content: center;
}


